{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center card text-light">
        <h1>BluBluCar</h1>
        <p>Des voyages constructifs !</p>
        {% for message in app.flashes('success') %}
        <div class="btn ml-auto mr-auto text-light" style="width: 400px;background:#28a745">
            {{ message }}
        </div>
        {% endfor %}
    </div>
{% endblock %}