{% extends 'base.html.twig' %}


{% block body %}
    <div class="jumbotron text-center card text-light">
        <h1>BluBluCar</h1>
        <p>Des voyages constructifs !</p>
    </div>
{% endblock %}