{% extends 'base.html.twig' %}


{% block body %}
    <div class="jumbotron text-center">
        <h1>BluBluCar</h1>
        <p>Le premier site de covoiturage portugais !</p>
    </div>
{% endblock %}